body {
    background-color: #c9d1c7;
    display: flex;
    min-height: 100vh;
    height: fit-content;
}

nav {
    width: 12vw;
    background-color: #afb8ad;
    display: flex;
    flex-direction: column;
    flex: 1;
}
article {
    width: 76vw;
    min-height: 100vh;
    height: fit-content;
} 
h1 {
    font-size: xx-large;
    font-family: monospace;
    text-decoration: underline;
    color: #454545
}
h3 {
    font-size: x-large;
    font-family: monospace;
    color: #454545;
    font-weight: bold
}
p {
    font-family: monospace;
    color: #454545;
    font-size: larger;
}
a {
    width: 80%;
    text-decoration: none;
    font-family: monospace;
    color: #454545;
    font-size: large;
    font-weight: bold;
    padding: 1.5em;
}
a:hover {
    text-decoration: underline;
    color: #ae7abd
}
.spacer {
    width: 12vw;
    height: 100vh;
}
.content-wrapper {
    height: fit-content;
    width: 100%;
    padding: 1em;
    font-size: x-large;
    font-family: monospace;
}
.banner {
    width: 100%;
    height: 5vh;
    color: #cbcba0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.6em;
}
.work-in-progress {
    background-color: #904030;
}
.banner a {
    color: #cbcba0;
    font-size: x-large;
    font-family: monospace;
}

code {
    font-family: monospace;
    font-size:medium;
    
}
pre {
    background-color: #3b3b3b;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: auto;
}
pre span {
    color: #ababab;
    font-family: monospace;
    font-size: large;
}
.cpp-code {
    color:#ae7abd;
}
.c-code {
    color: #7ea1c8;
}
.misc-code {
    color: #c79538;
}