body {
	margin: 0;
	background-color: #1b1b1b;
}
pre {
	color: #41ff00;
	font-family: monospace;
	font-size: 25px;
	line-height: 1em;
	margin: 0;
}

label {
	color: #41ff00;
	font-family: monospace;
	font-size: 25px;

}
input {
	color: #41ff00;
	font-family: monospace;
	font-size: 25px;
	background-color: transparent;
	outline: none;
	border: none;
}

